__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
instance/
.DS_Store
.ipynb_checkpoints
.pytest_cache/
.coverage
*.log
local_settings.py
db.sqlite3
media/
*.pkl
*.joblib