# requirements.txt
streamlit>=1.28.0
pandas>=2.0.0
numpy>=1.24.0
joblib>=1.3.0
# 使用不需要X11的rdkit版本
rdkit-pypi==2022.9.5
matplotlib>=3.7.0
seaborn>=0.12.0
lightgbm>=4.0.0
scikit-learn>=1.3.0
hyperopt>=0.2.7
